/* Main container for contact section */
.contact-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #000000;
}

/* Adding rounded corners for iframes and forms */
iframe, form {
    border-radius: 15px;
}

/* Style for the main contact form container */
.contact-form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input and textarea styles for the contact form */
.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
}

/* Button styles for the contact form */
.contact-form button {
    padding: 10px 15px;
    background-color: #333;
    color: #000000;
    border: none;
    cursor: pointer;
}

/* Button hover effect */
.contact-form button:hover {
    background-color: #555;
}

/* General contact box style */
.contact-box, 
.contact-form-container {
    background-color: rgba(0, 0, 0, 0.75); 
    padding: 15px;
    color: white;
}



/* A thicker horizontal line style */
.thick-hr {
    border-top: 3px solid black;
    margin: 20px 0;
}

/* Colour changes for mobile accordion */
.accordion-colour {
    --bs-accordion-bg: rgba(0, 0, 0, 0.5);
    --bs-accordion-border-color: rgba(0, 0, 0, 0.75);
}

.accordion-colour-header {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

/* Generic black box style */
.black-box {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.75); 
    padding: 20px; 
    margin-top: 20px; 
    color: white; 
}

/* Mobile specific styles */
@media (max-width: 768px) {
    /* Image adjustments for mobile */
    img[alt="Contact Image"] {
        padding-left: 0%;
        width: 100%; 
        height: auto; 
    }

    /* Hiding certain form elements on mobile */
    .form-black-box {
        display: none; 
    }
}