/* Image slide styles */
.slideImage {
    width: 100vw;
    height: 50vh;
}

/* Carousel caption background */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

/* Slide title text styles */
.titleSlide {
    font-size: larger;
    color: white;
}

/* Testimonial text styles */
.testimony {
    font-size: large;
}

/* Row with a border styling */
.rowBorder {
    padding: 0px 30px;
    border: none;
}

/* Generic content row styling */
.contentRow {
    display: block;
    padding: 10px;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

/* Clearfix for floated elements in .contentRow */
.contentRow:after {
	content: "";
	display: table;
	clear: both;
}

/* Full width column */
.columnFull {
    float: left;
    width: 100%;
    text-align: center;
}

/* One-third width column */
.columnThirds {
    float: left;
    width: 33%;
    text-align: center;
    padding: 0px 10px;
}

/* Half width column */
.columnHalf {
    float: left;
    width: 50%;
    text-align: center;
    padding: 0px 10px;
}

/* Styles for images within columns */
.columnImage {
    border-radius: 15px;
    padding: 10px 10px;
    height: 350px;
    width: 350px;
}

/* Generic title text styles */
.title {
    color: white;
}

/* Generic text styles */
.text {
    color: white;
    font-size: larger;
}

/* Separator for mobile layouts */
.mobileSeparator {
    display: none;
    color: rgba(255, 255, 255, 0);
}

/* Call-to-action button styles */
.ctaButton {
    text-decoration: none;
}

.ctaButton:hover {
    text-decoration: underline;
}

/* Media query for tablet and smaller desktop screens */
@media (max-width: 1200px) {
    /* Adjust padding for .rowBorder */
    .rowBorder {
        padding: 0px 60px;
    }

    /* Adjust column widths for responsive layout */
    .columnHalf,
    .columnThirds {
        width: 100%;
    }

    /* Display the mobile separator */
    .mobileSeparator {
        display: block;
    }

    /* Adjust font sizes for various text components */
    .title,
    .text,
    .testimony {
        font-size: xx-large;
    }
}