/* CSS for the Index page */

/* Carousel Images + Captions */

.slideImage {
    width: 100vw;
    height: 50vh;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.75);
}

.testimony {
    font-size: larger;
}

.rowBorder {
    padding: 0px 30px;
    border: none;
}

.contentRow {
    display: block;
    padding: 10px;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.contentRow:after {
	content: "";
	display: table;
	clear: both;
}

.columnFull {
    float: left;
    width: 100%;
    text-align: center;
}

.columnThirds {
    float: left;
    width: 33%;
    text-align: center;
    padding: 0px 10px;
}

.columnHalf {
    float: left;
    width: 50%;
    text-align: center;
    padding: 0px 10px;
}

.columnImage {
    border-radius: 15px;
    padding: 10px 10px;
    height: 250px;
    width: 250px;
}

.title {
    color: white;
}

.text {
    color: white;
    font-size: larger;
}

.mobileSeparator {
    display: none;
    color: rgba(255, 255, 255, 0);
}

.ctaButton {
    text-decoration: none;
}

.ctaButton :hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .rowBorder {
        padding: 0px 60px;
    }

    .columnHalf {
        width: 100%;
    }

    .columnThirds {
        width: 100%;
    }

    .mobileSeparator {
        display: block;
    }

    .title {
        font-size: xx-large;
    }

    .text {
        font-size: xx-large;
    }

    .testimony {
        font-size: xx-large;
    }
}